#player {
    position: relative;
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 30px;
}

.cover {
    border-radius: 50%;
    /* border: 2px solid #fff; */
    width: 100%;
    display: block;
}

body {
    background: #2C2B2B;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.play, .pause {
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -35px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    width: 70px;
    z-index: 1;
    
}

.pause {
    display: none;
}

.duration, .time-update {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}

.volume{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 12px; */
}

#time-stamps {
    margin-top: 30px;
}

#time-stamps li::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: #9D9D9D;
    border-radius: 50%;
    position: absolute;
    left: -25px;
    top: 5px;
    transition: .3s;
}

#time-stamps li {
    cursor: pointer;
    transition: .3s;
    color: #9D9D9D;
    line-height: 26px;
    margin-top: 10px;
    list-style: none;
    position: relative;
}
 #time-stamps li a {
    color: #858585;
 }

 #time-stamps li:hover::before, 
 #time-stamps li.active::before {
 transform: scale(1.1);
    background: rgb(234, 0, 255);
}

.progress-bar {
    transition: stroke-dashoffset 500ms;
    /* stroke-dasharray and stroke-dashoffset should match */
    /* Use SVGPathElement's getTotalLength() method to get length. */
    /* Reference: https://css-tricks.com/svg-line-animation-works/ */
    stroke-dasharray: 310.51519775390625;
    stroke-dashoffset: 310.51519775390625;
    stroke: rgb(234, 0, 255);
    stroke-opacity: 1; 
    stroke-linecap: round; 
    fill: none;
    stroke-width: 1; 
}

.timeline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}